syntax: glob

# General
.DS_Store
*.orig
*.swp

# Build folder
build/

# Libs
*.aar
*.jar
*.so

# Env
.gradle/
.idea/
*.iml
local.properties

# Google services
google-services.json

# Keystore files
*.jks
*.keystore
keystore/

# Include gradle wrapper jar
!gradle-wrapper.jar

# configuration property files
src/java/app/src/main/assets/*.properties
