<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thalesgroup.gemalto.d1.validation">

    <application
        android:name="com.thalesgroup.mobile.d1sample.D1App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.D1Sample">
        <activity
            android:name="com.thalesgroup.mobile.d1sample.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.thalesgroup.mobile.d1sample.ui.payment.PaymentActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|screenLayout"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <service
            android:name="com.thalesgroup.mobile.d1sample.fcm.D1PayFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.thalesgroup.gemalto.d1.d1pay.D1HCEService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice" />
        </service>
    </application>
    <uses-feature android:name="android.hardware.nfc.hce" />
    <!-- In case the Application uses the biometric as CDCVM -->
    <uses-feature android:name="android.hardware.nfc" />
    <!--Even if deprecated from Android 10, this is needed for Android 9 and below -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

</manifest>